$dark-grey1:#151619;
$dark-grey2:#1D1F22;
$dark-grey3:#2B2D31;
$dark-grey4:#35393F;
$light-grey1:#5A6069;
$light-grey2:#7C8187;
$light-grey3:#C1C4CB;
$light-grey4:#E4E4E4;
$light-grey5:#F5F5F5;
$white:#FFFFFF;
$dark-orange:#E46643;
$light-orange:#F39765;

